<div class="container-fluid">

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-apple"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-3">
        <img src="http://themissinformation.com/wp-content/uploads/2014/09/More-fruit-smoothies.jpg" alt="smoothie" class="img-circle img-responsive">
    </div>
    <div class="col-sm-9">
      <table class="table table-striped">
        <tbody>
          <thead>
            <th>IDs</th>
            <th>Smoothies</th>
            <th>Calories</th>
          </thead>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row text-center">
     <%#Total fat%>
     <div class="col-sm-4">
       <div class="panel panel-primary">
         <div class="panel-heading">
          Fat
         </div>
         <div class="panel-body">
           <h4 id="fat">NA</h5>
         </div>
       </div>
     </div>
     <%#Sugar%>
     <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            Sugar
          </div>
          <div class="panel-body">
           <h4 id="sugar">NA</h5>
          </div>
        </div>
     </div>
     <%#Fiber%>
     <div class="col-sm-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            Fiber
          </div>
          <div class="panel-body">
           <h4 id="fiber">NA</h5>
          </div>
        </div>
     </div>
  </div>

  <%#<div class="row">%>
    <%#<div class="container-fluid">%>
      <%#<div class="input-group">%>
        <%#<input type="text" class="form-control" placeholder="Add new smoothie.." id="smoothie">%>
        <%#<span class="input-group-btn">%>
          <%#<button class="btn btn-default" id="add" type="button"><span class="glyphicon glyphicon-plus"></span></button>%>
        <%#</span>%>
      <%#</div>%>
    <%#</div>%>
  <%#</div>%>

</div>

